<nz-layout>
  <ul nz-menu nzMode="horizontal" style="background: #5AB6F2; justify-content: space-between;display: flex;">
    <li nz-menu-item nzSelected>
      <a routerLink="/home">ThueXe</a>
    </li>
    <li>
      <p nz-icon nzType="phone"></p>
      1900 0927
    </li>
    <li>
      <p nz-icon nzType="mail"></p>
      contact@thuexe.com
    </li>
    <li>
      <p nz-icon nzType="car"></p>
      Trở thành chủ xe
    </li>
    <li nz-submenu nzTitle="Nguyễn Ngọc Thành" nzIcon="user" routerLink="/taikhoan">
    </li>
    <li>
      <p nz-icon nzType="line"
       style="position: absolute;
       width: 25px;
       height: 50px;
       transform: matrix(0, 2, 1, 0, 0, 0);"></p>
       <span nz-menu-item nzSelected nz-icon nzType="bell" nzTheme="twotone" style="font-size: 23px; margin-top: 14px;"></span>
    </li>
  </ul>
  <nz-content>
    <div [className]="'layout'">
      <div nz-row style="margin-left: 200px; margin-top: 90px;">
        <div nz-col nzFlex="2">
        <p style="font-size: 30px;font-weight: bold;">Xin Chào Bạn!</p>
        <ul nz-menu nzMode="horizontal" style="width: 240px; background: none;font-size: 17px;">
          <li nz-menu-item  style="color: black;" routerLink="/taikhoan">
            <span nz-icon nzType="user"></span>
            Tài khoản của tôi
          </li>
          <li nz-menu-item style="color: black;" routerLink="/xeyeuthich">
            <span nz-icon nzType="heart"></span>
            Xe yêu thích
          </li>
          <li nz-menu-item style="color: black;" routerLink="/xecuatoi">
            <span nz-icon nzType="car"></span>
            Xe của tôi
          </li>
          <li nz-menu-item style="color: black;" routerLink="/chuyencuatoi">
            <span nz-icon nzType="environment"></span>
            Chuyến đi của tôi
          </li>
          <li nz-menu-item style="color: black;" routerLink="/khuyenmai">
            <span nz-icon nzType="tags"></span>
            Khuyễn mãi/Quà tặng
          </li>
          <li nz-menu-item  style="color: black;" routerLink="/diachi">
            <span nz-icon nzType="profile"></span>
            Địa chỉ của tôi
          </li>
          <li nz-menu-item nzSelected  style="color: black;">
            <span nz-icon nzType="lock"></span>
            Đổi mật khẩu
          </li>
          <li nz-menu-item style="color: black;" (click)="logout()">
            <span nz-icon nzType="logout"></span>
            Đăng xuất
          </li>
        </ul>
        </div>
        <div nz-col nzFlex="3">
        <p style="font-size: 30px;font-weight: bold; margin-left: -200px;">Đổi mật khẩu</p>
        <p style="margin-left: -200px; margin-top: -25px;">Vui lòng nhập mật khẩu hiện tại của bạn để đổi mật khẩu</p>
                <div style="background: white;
                position: relative;
                height: 450px;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 20%;
                border-radius: 20px;
                margin-left: -200px;
                ">
                <br>
                <span style="font-size: 20px; font-weight: bold; margin-left: 30px; margin-top: -50px;">Nhập mật khẩu</span>
                <div>
                  <p style="margin-left: 30px;margin-top: 10px;">Mật khẩu hiện tại</p>
                  <nz-input-group [nzSuffix]="suffixTemplate2" style="margin-left: 30px; width:70%;height: 40px; border-radius: 10px;">
                    <input
                      [type]="passwordVisible2 ? 'text' : 'password'"
                      nz-input
                      placeholder="input password"
                      [(ngModel)]="password2"
                    />
                  </nz-input-group>
                  <ng-template #suffixTemplate2>
                    <span
                      nz-icon
                      [nzType]="passwordVisible2 ? 'eye-invisible' : 'eye'"
                      (click)="passwordVisible2 = !passwordVisible2"
                    ></span>
                  </ng-template>
                </div>
                <div>
                  <p style="margin-left: 30px;margin-top: 10px;">Mật khẩu mới</p>
                  <nz-input-group [nzSuffix]="suffixTemplate" style="margin-left: 30px; width:70%;height: 40px; border-radius: 10px;">
                    <input
                      [type]="passwordVisible ? 'text' : 'password'"
                      nz-input
                      placeholder="input password"
                      [(ngModel)]="password"
                    />
                  </nz-input-group>
                  <ng-template #suffixTemplate>
                    <span
                      nz-icon
                      [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                      (click)="passwordVisible = !passwordVisible"
                    ></span>
                  </ng-template>
                </div>
                <div>
                  <p style="margin-left: 30px;margin-top: 10px;">Xác nhận mật khẩu mới</p>
                  <nz-input-group [nzSuffix]="suffixTemplate1" style="margin-left: 30px; width:70%;height: 40px; border-radius: 10px;">
                    <input
                      [type]="passwordVisible1 ? 'text' : 'password'"
                      nz-input
                      placeholder="input password"
                      [(ngModel)]="password1"
                    />
                  </nz-input-group>
                  <ng-template #suffixTemplate1>
                    <span
                      nz-icon
                      [nzType]="passwordVisible1 ? 'eye-invisible' : 'eye'"
                      (click)="passwordVisible1 = !passwordVisible1"
                    ></span>
                  </ng-template>
                </div>
                <button nz-button nzType="primary" style="margin-left: 600px;width:100px;height:40px;margin-top: 40px;">Xác nhận</button>
              </div>
        </div>
      </div>
      </div>
  </nz-content>
  <br>
  <br>
  <nz-footer style="background: white;">
      <div nz-row nzJustify="space-evenly" style="background: white;">
        <div nz-col nzSpan="4">
          <p style="font-size: 40px; color: #5AB6F2;">ThueXe</p>
          <p>19009217</p>
          <p>Hổ trợ 7AM-10PM</p>
          <p>contact@thuexe.vn</p>
          <p>Đặt câu hỏi cho ThueXe</p>
          <div nz-row style="background: white;">
            <div nz-col nzSpan="8">
             <span nz-icon nzType="facebook" nzTheme="outline" style="font-size: 25px;"></span></div>
            <div nz-col nzSpan="8">
              <span nz-icon nzType="twitter" nzTheme="outline"style="font-size: 25px;"></span>
            </div>
            <div nz-col nzSpan="8">
              <span nz-icon nzType="yahoo" nzTheme="outline"style="font-size: 25px;"></span>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="4">
          <br>
          <p style="color: black; font-weight: bold; font-size: 15px;">Chính Sách</p>
          <br>
          <p>Chính sách và quy định</p>
          <p>Quy chế hoạt động</p>
          <p>Bảo mật thông tin</p>
          <p>Giải quyết tranh chấp</p>
        </div>
        <div nz-col nzSpan="4">
          <br>
          <p style="color: black; font-weight: bold; font-size: 15px;">Tìm hiểu thêm</p>
          <br>
          <div nz-row style="background: white;">
            <div nz-col nzSpan="8">
              <p>Hướng dẫn chung</p>
              <p>Hướng dẫn đặt xe</p>
              <p>Hướng dẫn thanh toán</p>
            </div>
            <div nz-col nzSpan="8" nzOffset="8">
              <p>Hỏi và trả lời</p>
              <p>Thuexe Blog</p>
              <p>Tuyển dụng</p>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="4"><br>
          <p style="color: black; font-weight: bold; font-size: 15px;">Đối Tác</p>
          <br>
          <p>Đăng ký chủ xe ThueXe</p>
          <p>Đăng ký GPS MITRACK 4G</p>
        </div>
      </div>
  </nz-footer>
</nz-layout>


