<nz-layout>
  <ul [className]="'ul-user'" nz-menu nzMode="horizontal">
    <li nz-menu-item nzSelected>
      <a routerLink="/home">ThueXe</a>
    </li>
    <li>
      <p nz-icon nzType="phone"></p>
      1900 0927
    </li>
    <li>
      <p nz-icon nzType="mail"></p>
      contact@thuexe.com
    </li>
    <li>
      <p nz-icon nzType="car"></p>
      Trở thành chủ xe
    </li>
    <li nz-submenu nzTitle="Nguyễn Ngọc Thành" nzIcon="user" routerLink="/taikhoan">
    </li>
    <li>
      <p nz-icon nzType="line"
       style="position: absolute;
       width: 25px;
       height: 50px;
       transform: matrix(0, 2, 1, 0, 0, 0);"></p>
       <nz-badge nz-menu-item nzSelected nz-icon nzType="bell" nzTheme="twotone" style="font-size: 23px; margin-top: 14px;" [nzCount]="200"></nz-badge>
    </li>
  </ul>
  <ul [className]="'ul-item'" nz-menu nzMode="horizontal">
    <li nz-menu-item nzSelected>
      <a routerLink="/home">ThueXe</a>
    </li>
    <li>
      <p nz-icon nzType="phone"></p>
    </li>
    <li>
      <p nz-icon nzType="mail"></p>
    </li>
    <li>
      <p nz-icon nzType="car"></p>
    </li>
    <li nz-submenu nzTitle="Nguyễn Ngọc Thành" nzIcon="user" routerLink="/taikhoan">
    </li>
  </ul>
  <nz-content>
    <div>
      <div nz-row  class="layout">
        <ul nz-menu nzMode="inline" class="setmenu2">
          <li nz-submenu nzTitle="Tài khoản của tôi" nzIcon="user" style="color: black;" >
            <ul>
              <li nz-menu-item nzSelected style="color: black;">
                <span nz-icon nzType="user"></span> Tài khoản của tôi
              </li>
              <li nz-menu-item style="color: black;" routerLink="/xeyeuthich">
                <span nz-icon nzType="heart"></span>
                Xe yêu thích
              </li>
              <li nz-menu-item style="color: black;" routerLink="/xecuatoi">
                <span nz-icon nzType="car"></span>
                Xe của tôi
              </li>
              <li nz-menu-item style="color: black;" routerLink="/chuyencuatoi">
                <span nz-icon nzType="environment"></span>
                Chuyến đi của tôi
              </li>
              <li nz-menu-item style="color: black;" routerLink="/khuyenmai">
                <span nz-icon nzType="tags"></span>
                Khuyễn mãi/Quà tặng
              </li>
              <li nz-menu-item style="color: black;" routerLink="/diachi">
                <span nz-icon nzType="profile"></span>
                Địa chỉ của tôi
              </li>
              <li nz-menu-item style="color: black;" routerLink="/changepassword">
                <span nz-icon nzType="lock"></span>
                Đổi mật khẩu
              </li>
              <li nz-menu-item style="color: black;" (click)="logout()">
                <span nz-icon nzType="logout"></span>
                Đăng xuất
              </li>
            </ul>
          </li>
        </ul>
        <div nz-col nzFlex="2" class="setmenu">
        <p style="font-size: 30px;font-weight: bold;">Xin Chào Bạn!</p>
        <ul nz-menu nzMode="horizontal" style="width: 240px; background: none;font-size: 17px;">
          <li nz-menu-item nzSelected style="color: black;">
            <span nz-icon nzType="user"></span>
            Tài khoản của tôi
          </li>
          <li nz-menu-item style="color: black;" routerLink="/xeyeuthich">
            <span nz-icon nzType="heart"></span>
            Xe yêu thích
          </li>
          <li nz-menu-item style="color: black;" routerLink="/xecuatoi">
            <span nz-icon nzType="car"></span>
            Xe của tôi
          </li>
          <li nz-menu-item style="color: black;" routerLink="/chuyencuatoi">
            <span nz-icon nzType="environment"></span>
            Chuyến đi của tôi
          </li>
          <li nz-menu-item style="color: black;" routerLink="/khuyenmai">
            <span nz-icon nzType="tags"></span>
            Khuyễn mãi/Quà tặng
          </li>
          <li nz-menu-item style="color: black;" routerLink="/diachi">
            <span nz-icon nzType="profile"></span>
            Địa chỉ của tôi
          </li>
          <li nz-menu-item style="color: black;" routerLink="/changepassword">
            <span nz-icon nzType="lock"></span>
            Đổi mật khẩu
          </li>
          <li nz-menu-item style="color: black;" (click)="logout()">
            <span nz-icon nzType="logout"></span>
            Đăng xuất
          </li>
        </ul>
        </div>
        <div nz-col nzFlex="3">
        <p class="p-tt">Thông tin tài khoản</p>
        <div class="div-hs">
          <br>
          <div nz-row nzJustify="space-around">
            <div nz-col nzSpan="4" style="font-size: 18px;">Hồ sơ của bạn</div>
            <div nz-col nzSpan="4"></div>
            <div nz-col nzSpan="4"></div>
            <div nz-col nzSpan="4">
              <button nz-button (click)="showModalbtn()"
              style="font-size: 16px; border-radius: 10px;height: 40px;">
                Chỉnh sửa <span nz-icon nzType="edit" nzTheme="outline"></span>
                <nz-modal [(nzVisible)]="isVisiblebtn" (nzOnCancel)="handleCancelbtn()" (nzOnOk)="handleOkbtn()" style="border-radius: 20px;">
                  <ng-container *nzModalContent>
                    <h3 style="margin-left: 150px;">Cập nhật thông tin</h3>
                    <h5>Tên tài khoản</h5>
                    <input type="text" name="" id="" placeholder=" Nguyễn Ngọc Thành" style="border-radius: 10px; width: 70%; height: 40px;">
                    <h5>Ngày sinh</h5>
                    <input type="text" name="" id="" [ngModel]="' 10/02/2001'" style="border-radius: 10px; width: 70%; height: 40px;">
                    <h5>Giới tính</h5>
                    <nz-select ngModel="Nam" style="border-radius: 100px;width:30%;">
                      <nz-option nzValue="Nam" nzLabel="Nam"></nz-option>
                      <nz-option nzValue="Nữ" nzLabel="Nữ"></nz-option>
                    </nz-select>
                  </ng-container>
                </nz-modal>
              </button></div>
          </div>
          <br>
          <div nz-row>
            <div nz-col nzSpan="8"  class="div-item">
              <nz-avatar [nzSize]="140" nzIcon="user"></nz-avatar>
              <br>
              <br>
              <p class="p-item">Tham gia: 24/04/2023</p>
              <p class="p-items">Chưa có chuyến</p>
              <button nz-button class="button-item">
              <span nz-icon nzType="pound" nzTheme="outline" style="background: yellow; border-radius: 15px;"></span>0 điểm</button>
            </div>
              <div class="span-1">
                <h5>Tên tài khoản</h5>
                <p style="font-weight: bold;">Nguyễn Ngọc Thành</p>
                <h5>Giới tính</h5>
                <p style="font-weight: bold;">Nam</p>
                <h5>Số điện thoại</h5>
                <p (click)="showModal()"style="font-weight: bold;">+84793966897<span nz-icon nzType="edit" nzTheme="outline"></span>
                  <nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" style="border-radius: 20px;">
                    <ng-container *nzModalContent>
                      <h3 style="margin-left: 150px;">Cập nhật số điện thoại</h3>
                      <input type="text" name="" id="" placeholder=" Số điện thoại" style="border-radius: 10px; width: 70%; height: 50px; margin-left: 70px;">
                    </ng-container>
                  </nz-modal>
                </p>
                <h5>Facebook</h5>
                <p style="font-weight: bold;">Thêm liên kết <span nz-icon nzType="link" nzTheme="outline"></span></p>
              </div>
              <div class="span-2">
                <h5>Ngày sinh</h5>
                <p>--/--/----</p>
                <h5>GPLX</h5>
                <p (click)="showModalgplx()" style="font-weight: bold;">Thêm GPLX <span nz-icon nzType="edit" nzTheme="outline"></span>
                  <nz-modal [(nzVisible)]="isVisiblegplx" (nzOnCancel)="handleCancelgplx()" (nzOnOk)="handleOkgplx()" style="border-radius: 20px;">
                    <ng-container *nzModalContent>
                      <h3 style="margin-left: 150px;">Xác thực giấy phép lái xe</h3>
                      <h5>Số giấy phép lái xe</h5>
                      <input type="text" name="" id="" placeholder=" Số điện thoại" style="border-radius: 5px; width: 70%; height: 40px;">
                      <h5>Họ và tên</h5>
                      <input type="text" name="" id="" placeholder=" Nhập đầy đủ họ tên" style="border-radius: 5px; width: 70%; height: 40px;">
                      <h5>Ngày sinh</h5>
                      <input type="text" name="" id="" placeholder=" Nhập ngày sinh" style="border-radius: 5px; width: 70%; height: 40px;">
                      <h5>Ảnh giấy phép lái xe</h5>
                      <p>
                        <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" [nzTransformFile]="transformFile">
                          <button nz-button>
                            <span nz-icon nzType="upload"></span>
                            Upload
                          </button>
                        </nz-upload>
                      </p>
                    </ng-container>
                  </nz-modal>
                </p>
                <h5>Email</h5>
                <p (click)="showModalmail()"style="font-weight: bold;">nguyenthanh1472@gmail.com<span nz-icon nzType="edit" nzTheme="outline"></span>
                  <nz-modal [(nzVisible)]="isVisiblemail" (nzOnCancel)="handleCancelmail()" (nzOnOk)="handleOkmail()" style="border-radius: 20px;">
                    <ng-container *nzModalContent>
                      <h3 style="margin-left: 150px;">Cập nhật email</h3>
                      <input type="text" name="" id="" placeholder=" Email mới" style="border-radius: 10px; width: 70%; height: 50px; margin-left: 70px;">
                    </ng-container>
                  </nz-modal>
                </p>
                <h5>Google</h5>
                <p style="font-weight: bold;">Thêm liên kết <span nz-icon nzType="link" nzTheme="outline"></span></p>
              </div>
          </div>
            </div>
            <br>
        <div class="gioithieu">
        <br>
        <div style="margin-left: 40px;">
          <h2>Giới thiệu bạn mới</h2>
          <h5>Tìm hiểu chi tiết chương trình <span nz-icon nzType="question-circle" nzTheme="outline"></span></h5>
        </div>
        </div><br>
        <div class="the-cua-toi">
        <div>
          <br>
          <div nz-row nzJustify="space-around">
            <div nz-col nzSpan="4" style="font-size: 18px;">Thẻ của tôi</div>
            <div nz-col nzSpan="4"></div>
            <div nz-col nzSpan="4"></div>
            <div nz-col nzSpan="4">
              <button nz-button
              style="font-size: 16px; border-radius: 10px;height: 40px;">
                Thêm thẻ <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
              </button></div>
          </div>
          <div  style="background-image: url(../../assets/image/thecuatoi.png); width: 250px; height: 250px; margin: 0 auto; margin-top: 40px;">
          </div>
          <p>Bạn chưa có thẻ nào</p>
        </div>
        </div><br>
        <div class="list-car">
        <div>
          <br>
          <div nz-row nzJustify="space-around">
            <div nz-col nzSpan="4" style="font-size: 18px;">Danh sách xe</div>
            <div nz-col nzSpan="4"></div>
            <div nz-col nzSpan="4"></div>
            <div nz-col nzSpan="5">
              <nz-tabset>
                <nz-tab nzTitle="Xe có tài xế"></nz-tab>
                <nz-tab nzTitle="Tự lái"></nz-tab>
              </nz-tabset>
            </div>
          </div>
          <img class="hinhnen"
          nz-image
          width="350px"
          height="250px"
          nzSrc="../../assets/image/listxe.png"
          alt=""
        />
          <br>
          <p>Không tìm thấy xe nào</p>
        </div>
        </div>
        </div>
      </div>
    </div>
  </nz-content>
  <br>
  <br>
  <nz-footer style="background: white;">
    <div nz-row nzJustify="space-evenly" class="row-footer">
      <div nz-col nzSpan="4">
        <p style="font-size: 40px; color: #5AB6F2;">ThueXe</p>
        <p>19009217</p>
        <p>Hổ trợ 7AM-10PM</p>
        <p>contact@thuexe.vn</p>
        <p>Đặt câu hỏi cho ThueXe</p>
        <div nz-row style="background: white;">
          <div nz-col nzSpan="8">
           <span nz-icon nzType="facebook" nzTheme="outline" style="font-size: 25px;"></span></div>
          <div nz-col nzSpan="8">
            <span nz-icon nzType="twitter" nzTheme="outline"style="font-size: 25px;"></span>
          </div>
          <div nz-col nzSpan="8">
            <span nz-icon nzType="yahoo" nzTheme="outline"style="font-size: 25px;"></span>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="4">
        <br>
        <p style="color: black; font-weight: bold; font-size: 15px;">Chính Sách</p>
        <br>
        <p>Chính sách và quy định</p>
        <p>Quy chế hoạt động</p>
        <p>Bảo mật thông tin</p>
        <p>Giải quyết tranh chấp</p>
      </div>
      <div nz-col nzSpan="4">
        <br>
        <p style="color: black; font-weight: bold; font-size: 15px;">Tìm hiểu thêm</p>
        <br>
        <div nz-row style="background: white;">
          <div nz-col nzSpan="8">
            <p>Hướng dẫn chung</p>
            <p>Hướng dẫn đặt xe</p>
            <p>Hướng dẫn thanh toán</p>
          </div>
          <div nz-col nzSpan="8" nzOffset="8" class="col-footer">
            <p>Hỏi và trả lời</p>
            <p>Thuexe Blog</p>
            <p>Tuyển dụng</p>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="4"><br>
        <p style="color: black; font-weight: bold; font-size: 15px;">Đối Tác</p>
        <br>
        <p>Đăng ký chủ xe ThueXe</p>
        <p>Đăng ký GPS MITRACK 4G</p>
      </div>
    </div>
</nz-footer>
</nz-layout>


